i1{
  margin-top: 150px;
  height: 200px;
  text-align: center;
}
.f1{
  height: 50px;
  text-align: center;
}
.f1 input[type=text]{
  width: 500px;
  height: 30px;
}
.n1{
  height: 60px;
  padding-top:5px;
	padding-right: 10px;
}
.n1 a{
color: #222;
text-decoration: none;
font-size: 15px;
opacity:.70;
}
.n1 nav{
  float: right;
}
.n1 li{
  display: inline;
  padding: 0 12px 0 12px;
}
.n1 a:hover{
  border-bottom: 1px solid blue;
}
.n1 li:last-child{
  padding-right: 24px;
}
.but{
  width: 150px;
  height: 35px;
  padding-left: 20px;
  padding-right: 20px;
  background:#E8E8E8;
  border-radius: 2px;
}
